*{
    font-family: 'Nunito', sans-serif;
}
span{
    color: #EC4067;
}
h1{
    font-size: 2rem;
}
.Question{
    color: #EC4067;

}
.btn{
    background-color: #EC4067;
    color: azure;
    padding: 5px;
    border-radius: 5px;
}
.img-header{
    color: #EC4067;
    font-weight: bolder;
    
}
h2{
    font-size: x-large;
}
.subheader{
    color: #EC4067;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    margin-left: 500px;
    margin-right: 5px;
}
li{
    
padding: 10px 20px;
}
header{
    display: flex;
}
.enroll-link{
    background-color: #EC4067;
    margin-left: 10px;
  
    text-align: center;
    border-radius: 7px;

    


}
.img1{
    height: 300px;
    width: 500px;
    display: flex;
}
.img2{
    height: 200px;
    width: 260px;

}
section{
    display: flex;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 100px;

}
.btn-1{
    color: #EC4067;
    background: white;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    
   
    
}
.btn-2{
    color: azure;
    background: #EC4067;
    padding: 8px 20px;
    border-radius: 5px;
    font-size:1.2rem;
}
.topic{
    display: flex;
}
.mag{
    justify-content: space-between;
}
.mag div{
    padding: 10px;
}
.img2{
    margin: 4px;
}
.good{
    display: inline-flex;
}
.bike{
    display: flex;
    justify-content: center;
}
.f{
    
    text-align: center;
    font-weight: 800px;
}
i{
    color: #EC4067;
}
.lastsection{
    background: rgb(201, 198, 198);
    text-align: center;
    padding: 100px;
}
.pro{
    font-size: x-large;
    font-weight: 600px;
}
@media (max-width=700px ){
    .mag{
        justify-content: space-between;
        overflow:scroll;
    }
    
}