*{
    margin: 5px;
    padding: 5px;
    font-family:  'Nunito', sans-serif;;
}
.header{
    font size: 400px;
    color: #EC4067;
    
}
.pn{
    color: black;

}
ul{
    display: flex;
    list-style: none;
}
.core{
    color: #EC4067;
}
.roll{
    border: 1px none #EC4067;
    background-color: #EC4067;
    border-radius: 5px;
    width: auto;
    
    
    
}
.topic{
    border: 1px none #EC4067;
    background-color: #EC4067;
    border-radius: 5px;
    width: auto;
   padding: 8px;
   width: fit-content;
    
}
.area{
    display: flex
}
.bike{
    color: #EC4067;
}
.sure{
    color: #EC4067;
}
.pos{
    text-align: center;
}
.pic{
    list-style: none;
    display: flex;
}
.

}

    
}
.np{
    color: #EC4067;
    
}

}
#id{
    background-color: #EC4067;
    border: 1px solid #EC4067;
}
.flex{
    display: flex;
    width: 300px;
    height: 200px;
    border border-radius: 5px;
}
.left{
    width: 500px;
    height: 400px;
}
#side{
    float: right;
    margin: 100px;
}
.fl{
    float: left;
    display: inline-block;
}
a:hover{
    background-color: white;
}


    
